@keyframes heroImage {
  0% {
    background-image: url(static/hair1.svg);
  }
  20% {
    background-image: url(static/hair2.svg);
  }
  40% {
    background-image: url(static/hair3.svg);
  }
  60% {
    background-image: url(static/hair4.svg);
  }
  80% {
    background-image: url(static/hair5.svg);
  }
  100% {
    background-image: url(static/hair1.svg);
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: heroImage;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.hero-image-container{
    max-height: 352px;
    max-width: 352px;
    height: 60vw; 
}